<a href="/issues/<%=issue.id%>"><b><%= issue.title %></b></a>
<br/><%= issue.description %><br/>
	
<a href="http://twitter.com/share?text=<%= issue.title %>&amp;url=http://maywehelp.com/issues/<%=issue.id%>" class="twitter-share-button">Tweet</a>

<!-- Place this tag where you want the +1 button to render -->
<g:plusone href="http://maywehelp.com/issues/<%=issue.id%>"></g:plusone>

<!--  Place this tag after the last plusone tag -->
<script type="text/javascript">
  (function() {
    var po = document.createElement('script'); po.type = 'text/javascript'; po.async = true;
    po.src = 'https://apis.google.com/js/plusone.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(po, s);
  })();
</script>

<div id="fb-root"></div><script src="http://connect.facebook.net/en_US/all.js#appId=151901608223813&amp;xfbml=1"></script><fb:like href="http://maywehelp.com/issues/<%=issue.id%>" send="true" width="450" show_faces="true" font=""></fb:like>

<br/>
		
	



