<br/><p id="notice"><%= notice %></p>
<h1>Twlephone Activity (<%= link_to "your timeline", "/feed"%>)</h1><br/>

<% if @current_user %>
<div id="pagecontentwithlinks">

	<% @activities.each do |activity| %>

		<% @followuser = activity.user%>
		
		<a href="/<%=@followuser.username%>">
		<% if @followuser.photo %>	
			<img src="<%= @followuser.photo %>" width="100" height="100" />
		<% else %>
			<%= gravatar_image_tag @followuser.email, :class => "gravatar" rescue ""%>
		<% end %>

		<b><%= @followuser.username %></b></a>



			<a href="/issues/<%=activity.id%>">
			<%= activity.title %></a>
			</span>

			<%# if activity.comments %>
			<% activity.comments.each do |comment| %>

			<div class="bubble">
					<blockquote>
						<p><%= comment.comment %></p><br /><br />
					</blockquote>
					<cite>Updated <%= time_ago_in_words comment.created_at %> ago</cite>
			</div>

			<% end %>




	<% end %>

	</div>

	<br />
	<p><center><%= will_paginate @activities, :page_links => false %></center></p>
	<br />
	<br/><br/>


</div>
<% end %>
