<br/><p id="notice"><%= notice %></p>

<% content_for :head do  -%>
	<link type="text/css" rel="stylesheet" href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.10/themes/redmond/jquery-ui.css"/>
	<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.5.1/jquery.min.js"></script>
	<script type="text/javascript" src="http://s.phono.com/releases/0.2/jquery.phono.js"></script>
	<script type="text/javascript" src="/javascripts/callme.js"></script>
<% end %>


<% if @user %>
	<% content_for :stylers do  -%>
	<style>
		body {
			<% if @user.backgroundtile %>
				background: url(<%=@user.backgroundurl%>) 0px 0 repeat;
			<% else %>
				background: url(<%=@user.backgroundurl%>) 0px 0 no-repeat;
			<% end %>
			background-color: #<%=@user.backgroundcolor%>;
		}
	
	</style>
<% end %>

<% if @current_user %>

	<center>
		<script type="text/javascript">
	  $("#wrapper").append(
	   $("<div/>")
	    .css("width","450px")
	    .css("margin-left","auto")
	    .css("margin-right","auto")
	    .callme({
	      apiKey: "C17D167F-09C6-4E4C-A3DD-2025D48BA243",
	      buttonTextReady: "CLICK TO CALL",
	      username: "<%=@username%>",
	      myusername: "<%=@current_user.username%>",
		  myphoto: "<%=@current_user.photo%>",
	      slideOpen:true,
	      dialPad: false
	    })
	  )
	 </script>
	</center>

	
	<center>
		<div id="attendees">
		</div>
	</center>


<% else %>

	<p align="center">
		<a href="/auth/twitter"><%= image_tag "twitter_login.png", :width => "300" %></a>
	</p>

<% end %>


<% else %>

	<% if @current_user and @isnumber == true%>
	<h1>Shh, you found our Easter Egg :)</h1>
		<center>
			<script type="text/javascript">
		  $("#wrapper").append(
		   $("<div/>")
		    .css("width","450px")
		    .css("margin-left","auto")
		    .css("margin-right","auto")
		    .callme({
		      apiKey: "C17D167F-09C6-4E4C-A3DD-2025D48BA243",
		      buttonTextReady: "Call <%=@username%>",
			  numberToDial: "<%=@username%>",
		      username: "<%=@username%>",
		      slideOpen:false,
		      dialPad: false
		    })
		  )
		 </script>
		</center>
	<% else %>
		<h1>User not found :(</h1>
		<div id="pagecontent">
			<!-- Invite <%=params[:user]%> -->
		</div>
	<% end %>
<% end %>

<audio id="audio_new_pm" src="/audio/new_pm.mp3" preload="auto"></audio>
<audio id="audio_msg" src="/audio/sound.mp3" preload="auto"></audio>