<br/><p id="notice"><%= notice %></p>

<% if @user %>
<h1><%= @user.username.capitalize %>'<%= "s" if @user.username[-1,1] != "s"%> Gospelr Notes</h1><br/>

<div id="pagecontent">

<div id="photobar">
	<center>
	<% if @user.photo %>	
		<img src="<%= @user.photo %>" width="100" height="100" />
	<% else %>
		<%= gravatar_image_tag @user.email, :class => "gravatar" rescue ""%>
	<% end %><br/>
	<% if @current_user.id == @user.id %>
		<span style="a:underline"><%= link_to 'Edit Profile', "/users/" + @current_user.username + "/edit" %> </span>
	<% else %>
		<center>
		<div id="userstatus">
			
			<% if @follow %>
				<%= form_for :follow, :url=>{:controller=>"follows", :action=>"create", :id=>@user.id, :status=>'unfollow' }, :remote => true do |f| %>
					<%= button_tag("Unfollow", :title=>"Unfollow " + @user.username.capitalize ) %>
				<% end %>
			<% else %>
				<%= form_for :follow, :url=>{:controller=>"follows", :action=>"create", :id=>@user.id, :status=>'follow' }, :remote => true do |f| %>
					<%= button_tag("Follow", :title=>"Follow " + @user.username.capitalize ) %>
				<% end %>
			<% end %>
			
		</div>
		</center>
	<% end %>
	</center>
	
</div>

<% @activities.each do |activity| %>

	
	<% if !activity.color.nil? %>
		<span id="highlight_<%= activity.id%>" style="background-color:<%=activity.color%>">
	<% else %>
		<span id="highlight_<%= activity.id%>">
	<% end %>

	<a href="/<%=activity.verse.book_name.gsub(" ", "")%>/<%=activity.verse.chapter%>/<%=activity.verse.number%>">
	<%= activity.verse.book_name + ' ' +activity.verse.chapter.to_s + ':' + activity.verse.number.to_s %>
	<%= activity.verse.text%></a>
	</span>
	
	<% if activity.comment %>
	
	<div id="profilecomment" class="comment_<%=activity.id%>">&nbsp;</div>
	<script>
	// http://craigsworks.com/projects/qtip2/demos/#tips
	var at = [
	      'bottom left', 'bottom right', 'bottom center',
	      'top left', 'top right', 'top center',
	      'left center', 'left top', 'left bottom',
	      'right center', 'right top', 'right bottom', 'center'
	   ],
	   my = [
	      'top left', 'top right', 'top center',
	      'bottom left', 'bottom right', 'bottom center',
	      'right center', 'right top', 'right bottom',
	      'left center', 'left top', 'left bottom', 'center'
	   ],
	   styles = [
	      'red', 'blue', 'dark', 'light', 'green', 'jtools', 'plain', 'youtube', 'cluetip', 'tipsy', 'tipped'
	   ];

	// Create the tooltips only on document load
	$(document).ready(function()
	{
	      $('.comment_<%=activity.id%>')
	         /*
	          * Lets delete the qTip data from our target element so we can apply multiple tooltips.
	          * Since the data is also stored on the tooltip element itself this isn't a problem!
	          * 
	          * Check here for more details on this: http://craigsworks.com/projects/qtip2/tutorials/advanced/#multi
	          */
	         .removeData('qtip') 
	         .qtip({
	            content: {
	               text: '<%= activity.comment.gsub("\n"," ").gsub("\r"," ") %>'
	            },
	            position: {
	               my: 'top center', // Use the corner...
	               at: 'center' // ...and opposite corner
	            },
	            show: {
	               event: false, // Don't specify a show event...
	               ready: true // ... but show the tooltip when ready
	            },
	            hide: false, // Don't specify a hide event either!
	            style:{ 
	               	classes: 'ui-tooltip-shadow ui-tooltip-cream',
					width: '800px'
            	}
	         });
	});
	</script>
	<% end %>
	<br/><br/>

<% end %>

</div>

<br />
<p><center><%= will_paginate @activities, :page_links => false %></center></p>
<br />
<br/><br/>

<% else %>
<br/><br/><br/><br/>
<h1>User not found :(</h1>
<div id="pagecontent">
</div>
<% end %>