<%= form_for(@bible) do |f| %>
  <% if @bible.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@bible.errors.count, "error") %> prohibited this bible from being saved:</h2>

      <ul>
      <% @bible.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :acronym %><br />
    <%= f.text_field :acronym %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
