<h1>Listing bibles</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Acronym</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @bibles.each do |bible| %>
  <tr>
    <td><%= bible.name %></td>
    <td><%= bible.acronym %></td>
    <td><%= link_to 'Show', bible %></td>
    <td><%= link_to 'Edit', edit_bible_path(bible) %></td>
    <td><%= link_to 'Destroy', bible, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Bible', new_bible_path %>
