<%= form_for(@verse) do |f| %>
  <% if @verse.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@verse.errors.count, "error") %> prohibited this verse from being saved:</h2>

      <ul>
      <% @verse.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :bible_id %><br />
    <%= f.number_field :bible_id %>
  </div>
  <div class="field">
    <%= f.label :book_id %><br />
    <%= f.number_field :book_id %>
  </div>
  <div class="field">
    <%= f.label :book_name %><br />
    <%= f.text_field :book_name %>
  </div>
  <div class="field">
    <%= f.label :chapter %><br />
    <%= f.number_field :chapter %>
  </div>
  <div class="field">
    <%= f.label :number %><br />
    <%= f.number_field :number %>
  </div>
  <div class="field">
    <%= f.label :text %><br />
    <%= f.text_area :text %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
