<% content_for :title do %>
	<%= "#{@bible.acronym} - #{session[:searchterm]}" %>
<% end %>

<br/><h1><%= session[:searchterm] %> referenced <%= @versecount %> times</h1><br/>

<div id="pagecontent">
	<%= render :partial => "verse", :collection => @verses %>
</div>

<br />
<p><center><%= will_paginate @verses %></center></p>
<br /><br /><br />
