<!DOCTYPE html>
<html>
<head>
  <title>MayWeHelp</title>
  <meta name="keywords" content="tech support" />
  <meta name="description" content="Social Tech Support." />

  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>

  <link type="text/css" rel="stylesheet" href="/qtip/jquery.qtip.css" />
  <script type="text/javascript" src="/qtip/jquery.qtip.min.js"></script>

  <!-- <script src="http://platform.twitter.com/widgets.js" type="text/javascript"></script> -->


	<%= yield :head %>
	<%= yield :stylers %>

</head>
<body>
	<div id="leftbar">
		<p align="left">
		<br/><br/>
		<% if @current_user %>
<center>
			<% if @current_user.photo %>	
				<img src="<%= @current_user.photo %>" width="15" height="15" />
			<% else %>
				<%= gravatar_image_tag @current_user.email, :class => "gravatar", :width => "15" rescue ""%> 
			<% end %>
			<%= link_to @current_user.username.capitalize, "/" + @current_user.username  %> | 		

			<%= link_to 'Home', "/" %> |
			<%= link_to 'Logout', '/logout' %><br/>
			
			<%= link_to 'Timeline', '/allfeed' %> | 
			<%= link_to 'Following', '/' + @current_user.username + '/following' %> |
			<%= link_to 'Followers', '/' + @current_user.username + '/followers' %> 
</center>
		<% else %>
			<%= link_to 'Home', "/" %> |
			<%= link_to 'Register', new_user_path %> | 
			<%= link_to 'Login', '/login' %>
		<% end %>
		<br/>
		
		</p>
	</div>
	
	<div id="wrapper" class="page">

<%= yield %>

	</div>

	
	<!-- <script type="text/javascript">
	var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
	document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
	</script>
	<script type="text/javascript">
	try {
	var pageTracker = _gat._getTracker("UA-2483685-13");
	pageTracker._trackPageview();
	} catch(err) {}</script> -->
	
	<div id="footer">
		<br/>
		<% time = Time.new %>
		&copy; <%=time.year%> MayWeHelp, inc. - <%=link_to "About Us", "/about"%> - <%=link_to "Blog", "http://maywehelp.tumblr.com"%>
	</div>
	
	
</body>
</html>
